@model TP02_MVC.Models.Bl

@{
    ViewData["Title"] = "Delete";
}

<h2 class="display-8">Excluir</h2>

<h3>Você tem certeza que deseja exluir este item?</h3>
<div>
    <h4>Bl</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Consignee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Consignee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ship)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ship)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger mt-2" />
    </form>

    <p><a asp-action="Index">Voltar</a></p>
</div>
