@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2 class="display-8">Relação entre BL e Container </h2>
    <p>Trabalho prático 2.</p>
    <a asp-area="" asp-controller="Home" asp-action="Credits">Créditos</a>
</div>
